main table {
    width: 100%;
    text-align: center;
}

main {
    margin: 35px 0px;
}

main h2 {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

main table img {
    width: 150px;
    display: block;
    margin: auto;
}

main p {
    text-align: center;
    margin: 15px 0px;
}