* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: var(--ff-roboto);
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--white);
}

.container {
    padding-inline: 15px;
}

a {
    text-decoration: none;
    color: #222;
}

.clear {
    clear: both;
    line-height: 0;
}


/* căn giữa section, và set độ rộng lớn nhất là 1200px */

section {
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    color: #ddd;
    background-color: #ddd;
    border-top: 1px solid #ddd;
}

.btn {
    background-color: var(--bg-color, var(--emerald));
    color: var(--color, var(--white));
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    font-size: var(--fs, var(--fs-7));
    font-weight: var(--fw, var(--fw-500));
    padding: var(--padding, 15px 20px);
    border-radius: 50px;
    transition: var(--transition-2);
}

.btn ion-icon {
    font-size: 1.6rem;
}

.btn-primary:is(:hover, :focus) {
    --bg-color: var(--green-pigment);
}

.flexContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #423c40;
    font-size: 2rem;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #423c40;
    opacity: 1;
    visibility: hidden;
    transition: all 1s ease-in-out;
    z-index: 10;
    padding-inline: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back-to-top.active {
    opacity: 0.6;
    visibility: visible;
    transform: translateY(-10px);
}

.back-to-top:is(:hover, :focus) {
    background-color: #423c40;
    opacity: 1;
}


/* About */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.about {
    background: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: var(--main-font);
    margin-bottom: 30px;
}

.about-content p {
    max-width: 600px;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
}